/*
 * Move2Kube API
 * This is a documentation of the Move2Kube REST API. All API calls expect the `Authorization: Bearer <access-token>` HTTP header unless specified otherwise. The access token can be obtained in the same way as OAuth 2.0 using the token endpoint in the admin section. 
 *
 * The version of the OpenAPI document: v1.0.0
 * Contact: move2kube-dev@googlegroups.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package dev.parodos.move2kube.api;

import com.fasterxml.jackson.core.type.TypeReference;

import dev.parodos.move2kube.ApiException;
import dev.parodos.move2kube.ApiClient;
import dev.parodos.move2kube.Configuration;
import dev.parodos.move2kube.Pair;

import dev.parodos.move2kube.client.model.Error;
import dev.parodos.move2kube.client.model.GetCurrentQuestion200Response;
import dev.parodos.move2kube.client.model.PostAnswerToQuestionRequest;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2023-10-17T12:21:13.081862Z[Etc/UTC]")
public class QaApi {


  private ApiClient apiClient;

  public QaApi() {
    this(Configuration.getDefaultApiClient());
  }

  public QaApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Get the current question that needs to be answered for the transformation to proceed.
   * Get the current question that needs to be answered for the transformation to proceed.
   * @param workspaceId ID of the workspace the project is in. (required)
   * @param projectId ID of the project the output is in. (required)
   * @param outputId ID of the output whose transformation is on-going. (required)
   * @return GetCurrentQuestion200Response
   * @throws ApiException if fails to make API call
   */
  public GetCurrentQuestion200Response getCurrentQuestion(String workspaceId, String projectId, String outputId) throws ApiException {
    return this.getCurrentQuestion(workspaceId, projectId, outputId, Collections.emptyMap());
  }


  /**
   * Get the current question that needs to be answered for the transformation to proceed.
   * Get the current question that needs to be answered for the transformation to proceed.
   * @param workspaceId ID of the workspace the project is in. (required)
   * @param projectId ID of the project the output is in. (required)
   * @param outputId ID of the output whose transformation is on-going. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetCurrentQuestion200Response
   * @throws ApiException if fails to make API call
   */
  public GetCurrentQuestion200Response getCurrentQuestion(String workspaceId, String projectId, String outputId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'workspaceId' is set
    if (workspaceId == null) {
      throw new ApiException(400, "Missing the required parameter 'workspaceId' when calling getCurrentQuestion");
    }
    
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getCurrentQuestion");
    }
    
    // verify the required parameter 'outputId' is set
    if (outputId == null) {
      throw new ApiException(400, "Missing the required parameter 'outputId' when calling getCurrentQuestion");
    }
    
    // create path and map variables
    String localVarPath = "/workspaces/{workspace-id}/projects/{project-id}/outputs/{output-id}/problems/current"
      .replaceAll("\\{" + "workspace-id" + "\\}", apiClient.escapeString(workspaceId.toString()))
      .replaceAll("\\{" + "project-id" + "\\}", apiClient.escapeString(projectId.toString()))
      .replaceAll("\\{" + "output-id" + "\\}", apiClient.escapeString(outputId.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "bearerAuth" };

    TypeReference<GetCurrentQuestion200Response> localVarReturnType = new TypeReference<GetCurrentQuestion200Response>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Post the answer to the current question for an on-going transformation given by the ID.
   * Post the answer to the current question for an on-going transformation given by the ID.
   * @param workspaceId ID of the workspace the project is in. (required)
   * @param projectId ID of the project to start the transformation for. (required)
   * @param outputId ID of the output whose transformation is on-going. (required)
   * @param body A plan to use for the transformation. (Not required).  (required)
   * @throws ApiException if fails to make API call
   */
  public void postAnswerToQuestion(String workspaceId, String projectId, String outputId, PostAnswerToQuestionRequest body) throws ApiException {
    this.postAnswerToQuestion(workspaceId, projectId, outputId, body, Collections.emptyMap());
  }


  /**
   * Post the answer to the current question for an on-going transformation given by the ID.
   * Post the answer to the current question for an on-going transformation given by the ID.
   * @param workspaceId ID of the workspace the project is in. (required)
   * @param projectId ID of the project to start the transformation for. (required)
   * @param outputId ID of the output whose transformation is on-going. (required)
   * @param body A plan to use for the transformation. (Not required).  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void postAnswerToQuestion(String workspaceId, String projectId, String outputId, PostAnswerToQuestionRequest body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // verify the required parameter 'workspaceId' is set
    if (workspaceId == null) {
      throw new ApiException(400, "Missing the required parameter 'workspaceId' when calling postAnswerToQuestion");
    }
    
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling postAnswerToQuestion");
    }
    
    // verify the required parameter 'outputId' is set
    if (outputId == null) {
      throw new ApiException(400, "Missing the required parameter 'outputId' when calling postAnswerToQuestion");
    }
    
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling postAnswerToQuestion");
    }
    
    // create path and map variables
    String localVarPath = "/workspaces/{workspace-id}/projects/{project-id}/outputs/{output-id}/problems/current/solution"
      .replaceAll("\\{" + "workspace-id" + "\\}", apiClient.escapeString(workspaceId.toString()))
      .replaceAll("\\{" + "project-id" + "\\}", apiClient.escapeString(projectId.toString()))
      .replaceAll("\\{" + "output-id" + "\\}", apiClient.escapeString(outputId.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

}
